<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goat.zxt.system.dao.DictDao">

    <resultMap id="dictMap" type="com.goat.zxt.system.entity.SysDict">
        <id column="DICT_ID" jdbcType="DECIMAL" property="dictId" />
        <result column="KEYY" jdbcType="DECIMAL" property="keyy" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
        <result column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="postFragment">
        select d.dict_id,d.keyy,d.value,d.table_name,d.field_name,d.update_time,d.create_time from sys_dict d
    </sql>


    <select id="getById" resultMap="dictMap" >
        <include refid="postFragment"/>
        <where>
            <if test="dictId != null and dictId != '' or dictId == 0">
                AND d.dict_id = #{dictId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.goat.zxt.system.entity.SysDict" >
        insert into sys_dict (KEYY, VALUE,FIELD_NAME,TABLE_NAME,create_time, update_time) values(#{keyy},#{value},#{fieldName},#{tableName},now(), now())
    </insert>


    <update id="update" parameterType="com.goat.zxt.system.entity.SysPost">
        update sys_dict
        <set>
            <if test="keyy != null and keyy != '' or keyy == 0 ">KEYY = #{keyy},</if>
            <if test="value != null and value != '' or value == 0">value = #{value},</if>
            <if test="tableName != null and tableName != '' ">table_name = #{tableName},</if>
            <if test="fieldName != null and fieldName != '' ">field_name = #{fieldName},</if>
            update_time = now()
        </set>
        where dict_id = #{dictId}
    </update>


    <select id="findDictList" resultMap="dictMap" parameterType="com.goat.zxt.system.entity.SysDict">
        SELECT  *  FROM sys_dict  WHERE 1=1
        <if test="dictId !=null and dictId != ''">
            AND DICT_ID = #{dictId}
        </if>
        <if test="keyy !=null and keyy != ''">
            AND KEYY = #{keyy}
        </if>
        <if test="value !=null and value != ''">
            AND value = #{value}
        </if>
        <if test="fieldName !=null and fieldName != ''">
            AND FIELD_NAME = #{fieldName}
        </if>
        <if test="tableName !=null and tableName != ''">
            AND TABLE_NAME = #{tableName}
        </if>
    </select>


    <delete id="deleteByIds" parameterType="Long">
        delete from sys_dict where dict_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="findDictKV" resultMap="dictMap" parameterType="com.goat.zxt.system.entity.SysDict">
        SELECT keyy  ,value FROM sys_dict WHERE 1=1
        <if test="tableName !=null and tableName != ''">
            AND TABLE_NAME = #{tableName}
        </if>
        <if test="fieldName !=null and fieldName != ''">
            AND FIELD_NAME = #{fieldName}
        </if>
        ORDER BY KEYY
    </select>


</mapper>