<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sys="">
<head>
    <meta charset="utf-8" content="text/html;charset=utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/PearAdmin/component/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/PearAdmin/admin/css/pearCommon.css}"/>
</head>
<body class="pear-container">

<!-- 隐藏域 当前组卷的主键id  -->
<input id="paperId" type="hidden" th:value="${params.paperId}"/>
<!-- 隐藏域 当前所属科目的主键id  -->
<input id="subjectId" type="hidden" th:value="${params.subjectId}"/>

<!--查询栏-->
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">

<!--                <label class="layui-form-label">所属科目</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="questionDesc" th:value="${params.subjectId}" class="layui-input" disabled="true">-->
<!--                </div>-->

                <label class="layui-form-label">试题类型</label>
                <div class="layui-input-inline">
                    <sys:dict  name="questionType" id="questionType" tableName="b_question" fieldName="type" class="form-control" />
                </div>


                <label class="layui-form-label">题目</label>
                <div class="layui-input-inline">
                    <input type="text" name="questionDesc" placeholder="请输入题目" class="layui-input">
                </div>

                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="combine-query"><i class="layui-icon layui-icon-search"></i>查询</button>
                <button type="reset" class="pear-btn pear-btn-md"> <i class="layui-icon layui-icon-refresh"></i> 重置</button>
            </div>
        </form>
    </div>
</div>


<div class="layui-card">
    <div class="layui-card-body">
        <table id="combine-table" lay-filter="combine-table"></table>
    </div>
</div>


<script type="text/html" id="combine-time">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>

<script th:src="@{/PearAdmin/component/layui/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['table','form','jquery'],function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;


        let cols = [
            [
                {type:'checkbox'},
                {title: '所属科目', field: 'subjectName', align:'center'},
                {title: '题型', field: 'questionTypeName', align:'center'},
                {title: '题目', field: 'questionDesc', align:'center',templet:'<div><span title="{{d.questionDesc}}">{{d.questionDesc}}</span> </div>'}, // 表格悬浮提示
                {title: '选项', field: 'questionOptions', align:'center'},
                {title: '创建人', field: 'nickName', align:'center'},
                // {title: '格式', field: 'questionFormat', align:'center'},
                // {title: '标签', field: 'questionLabel', align:'center'},
                // {title: '状态', field: 'questionStatus', align:'center', width:100},
                // {title: '音频解析', field: 'questionAudio', align:'center'},
                // {title: '文字解析', field: 'questionText', align:'center'},
                // {title: '分值', field: 'questionScore', align:'center'},
                {title: '答案', field: 'questionAnswer', align:'center'},
                {title: '创建时间', field: 'createTime', align:'center',templet:'#combine-time'},
                // {title: '更新时间',field: 'updateTime',  align:'center',templet:'#combine-time'},
            ]
        ]
        //在使用table之前加上下面这句就可以了
        table =  $.extend(table, {config: {checkName: 'checked'}});
        let tableIns = table.render({
            //可以在这里设置需要隐藏的列的字段名，如果是要隐藏多列的话这样写 id:'id,sex
            // id:'subjectId,questionId',
            elem: '#combine-table',
            url: '/api/combine',
            where : {
                subjectId: $('#subjectId').val(),
                paperId: $('#paperId').val(),
                questionType: $('#questionType option:selected').val(),       //  获取选中值
            },
            page: true , cols: cols ,skin: 'line',
        });


        // 表格 CheckBox 监听事件
        table.on('checkbox(combine-table)', function(obj){
            // console.log(obj.data); // 选中行的相关数据
            // console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
            if (obj.checked){       // 当前选中状态 则请求添加方法
                $.post('/api/combine/add', { "paperId": $('#paperId').val() ,"questionId": obj.data.questionId,"questionType": obj.data.questionType } , function(r) {
                    layer.msg(r.msg,{icon:1,time:1000});
                });
            } else {       // 当前取消状态 则请求删除方法
                $.post('/api/combine/del', { "paperId": $('#paperId').val() ,"questionId": obj.data.questionId,"questionType": obj.data.questionType } , function(r) {
                    layer.msg(r.msg,{icon:1,time:1000});
                });
            }
        });

        // 更改状态
        form.on('switch(combine-status)', function(obj) {
            let data ={
                questionId: obj.value,
            }
            let loading = layer.load();
            $.ajax({
                url:'/api/combine/changeStatus',
                data:JSON.stringify(data),
                dataType:'json',
                contentType:'application/json',
                type:'put',
                success:function(result){
                    layer.close(loading);
                    if(result.success){
                        layer.msg(result.msg,{icon:1,time:1000},function(){
                            // obj.del();
                        });
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
        });

        // 查询
        form.on('submit(combine-query)', function(data){
            let formData = data.field;
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {//这里传参  向后台
                    questionDesc: formData.questionDesc,
                    questionType: formData.questionType,
                    subjectId: formData.subjectId
                    //可传多个参数到后台...  ，分隔
                }
                , url: '/api/combine'//后台做模糊搜索接口路径
                , method: 'get'
            });
            return false;
        });
    })
</script>
</body>
</html>
