<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="text/html;charset=utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/PearAdmin/component/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/PearAdmin/admin/css/pearCommon.css}"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">试卷名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="paperName" placeholder="请输入试卷名称" class="layui-input">
                </div>
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="courseStatus">
                        <option value=""></option>
                        <option value="1">正常</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="course-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="course-table" lay-filter="course-table"></table>
    </div>
</div>

<!--操作列-->
<script type="text/html" id="course-bar">
    <!--修改-->
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>查看详情</button>
</script>

<script type="text/html" id="course-status">
    <!--  {{d.courseId}}  sos 这里为啥获取不到值？ 因此mybatis的sql没有返回这个主键值 -->
    <input type="checkbox"   name="courseStatus"  value="{{d.courseId}}" lay-skin="switch" lay-text="启用|禁用" mid="{{d.courseId}}"  lay-filter="course-status" {{ d.courseStatus == '1' ? 'checked' : '' }}>
</script>


<script type="text/html" id="course-time">
  {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>

<script th:src="@{/PearAdmin/component/layui/layui.js}" charset="utf-8"></script>
<script>

    layui.use(['table','form','jquery'],function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let cols = [
            [
                {type:'radio'},
                {title: '所属科目', field: 'subjectName', align:'center', width:100},
                {title: '试卷名称', field: 'paperName', align:'center', width:100},
                {title: '试卷描述', field: 'paperDesc', align:'center',},
                {title: '所属岗位', field: 'postName', align:'center',},
                {title: '创建人', field: 'userName', align:'center',},
                {title: '发布状态',field: 'courseStatus', templet:'#course-status'},
                {title: '创建时间', field: 'createTime', align:'center',templet:'#course-time'},
                // {title: '更新时间',field: 'updateTime',  align:'center',templet:'#course-time'},
                {title: '操作', toolbar: '#course-bar', align:'center', width:130}
            ]
        ]

        let tableIns =table.render({
            elem: '#course-table',url: '/api/course',
            page: true ,cols: cols ,skin: 'line',
        });

        table.on('tool(course-table)', function(obj){
            if(obj.event === 'edit'){
                window .edit(obj);
            }
        });

        // 更改状态
        form.on('switch(course-status)', function(obj) {
            layer.confirm(obj.elem.checked ? '确定要发布该试卷吗?' : '确定要禁用该试卷吗?', {
                icon: 3, title:'提示信息', btn : ['确定','取消'],
                btn1:function(){
                    let data ={
                        courseId: obj.value,
                        courseStatus: obj.elem.checked ? 1 : 0
                    }
                    let loading = layer.load();
                    $.ajax({
                        url:'/api/course/changeStatus',
                        data:JSON.stringify(data),
                        dataType:'json',
                        contentType:'application/json',
                        type:'put',
                        success:function(result){
                            layer.close(loading);
                            if(result.success){
                                layer.msg(result.msg,{icon:1,time:1000},function(){ });
                            }else{ // 请求失败  使用直接刷新表格的方式 来恢复 开关按钮的状态
                                layer.msg(result.msg,{icon:2,time:1000});
                                table.reload('course-table');
                            }
                        }
                    })
                },
                btn2:function(){
                    // 点击取消按钮后 使用直接刷新表格的方式 来恢复 开关按钮的状态
                    table.reload('course-table');
                },
            });
        });


        // table 单击选中效果  监听行单击事件（双击事件为：rowDouble）
        table.on('row(course-table)', function(obj) { //注：course-table是table原始容器的属性 lay-filter="对应的值"
            //选中行样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            //选中radio样式
            obj.tr.find('i[class="layui-anim layui-icon"]').trigger("click");
        });


        // 查询
        form.on('submit(course-query)', function(data){
            let formData = data.field;
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {//这里传参  向后台
                    paperName: formData.paperName,
                    courseStatus: formData.courseStatus
                    //可传多个参数到后台...  ，分隔
                }
                , url: '/api/course'//后台做模糊搜索接口路径
                , method: 'get'
            });
            return false;
        });

        // 删除
        window.remove = function(obj){
            layer.confirm('确定要删除该作业', {icon: 3, title:'提示'}, function(index){
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/api/course?ids="+obj.data['paperId'],
                    dataType:'json',
                    type:'delete',
                    success:function(result){
                        layer.close(loading);
                        if(result.success){
                            layer.msg(result.msg,{icon:1,time:1000},function(){
                                obj.del();
                            });
                        }else{
                            layer.msg(result.msg,{icon:2,time:1000});
                        }
                    }
                })
            });
        }

    })
</script>
</body>
</html>
