<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sys="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/PearAdmin/component/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/PearAdmin/admin/css/pearCommon.css}"/>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>科目:</label>
                    <div class="layui-input-block">
<!--                        <input type="text" name="keyy" th:value="${fillquestion.keyy}" lay-verify="required" autocomplete="off" placeholder="请输入科目" class="layui-input">-->
                        <sys:dict  name="subjectId" id="subjectId" tableName="b_subject" fieldName="type" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>题目:</label>
                    <div class="layui-input-block">
                        <input type="text"  name="questionDesc" th:value="${fillquestion.questionDesc}"  autocomplete="off" lay-verify="questionDesc" placeholder="请输入题目" class="layui-input">
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">标签:</label>
                    <div class="layui-input-block">
                        <input type="text"  name="questionLabel" th:value="${fillquestion.questionLabel}" lay-verify="sort" autocomplete="off" placeholder="请输入标签" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>答案:</label>
                    <div class="layui-input-block">
                        <input type="text"  name="questionAnswer" th:value="${fillquestion.questionAnswer}" lay-verify="questionAnswer" autocomplete="off" placeholder="请输入答案" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">文字解析</label>
                    <div class="layui-input-block">
                        <input type="text"  name="questionText" th:value="${fillquestion.questionText}" lay-verify="sort" autocomplete="off" placeholder="请输入文字解析" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"> 分值:</label>
                    <div class="layui-input-block">
                        <input type="text"  name="questionScore" th:value="${fillquestion.questionScore}" lay-verify="sort" autocomplete="off" placeholder="请输入文字解析" class="layui-input">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="fillquestion-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script th:src="@{/PearAdmin/component/layui/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form','jquery'],function(){
        let form = layui.form;
        let $ = layui.jquery;
        form.on('submit(fillquestion-save)', function(data){
            $.ajax({
                url:'/api/fillquestion',
                data:JSON.stringify(data.field),
                dataType:'json', type:'post',
                contentType:'application/json',
                success:function(result){
                    if(result.success){
                        layer.msg(result.msg,{icon:1,time:1000},function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("fillquestion-table");
                        });
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
            return false;
        });


        //自定义验证规则
        form.verify({
            questionDesc: function(value){ if(value.length < 1) return '必须填写题目内容'; },
            questionAnswer: function(value){ if(value.length < 1) return '必须填写答案'; }
        });

    })
</script>
</body>
</html>